# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
tfplan
crash.log
crash.*.log

# dbt
dbt/target/
dbt/logs/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment
.env
.env.*

# GCP
*.json

# Logs
logs/


.github/